.cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: var(--light-green);
  display: none;

  @include breakpoint('large') {
    display: block;
    opacity: 0;
    pointer-events: none;
    background: #0002;
    transition: all .3s ease-in-out;
  }

  &--show {
    display: block;

    @include breakpoint('large') {
      opacity: 1;
      pointer-events: inherit;
    }
  }

  &__wrapper {
    @include breakpoint('large') {
      position: fixed;
      width: 400px;
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 15;
      background: var(--light-green);
    }
  }

  &__content {
    height: 100vh;
    overflow-y: auto;
    padding: 40px 30px;

    @include breakpoint('large') {
      padding: 30px;
    }

    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      padding: 20px 0 25px;
      font-family: 'SangBleu';
      font-size: 20px;
      color: var(--black);
      text-transform: uppercase;

      @include breakpoint('large') {
        font-size: 27px;
      }
    }

    &__description {
      padding: 0 20px 20px;
      font-family: 'Apercu-light';
      font-size: 15px;
      line-height: 19px;
      color: var(--black);
      text-align: center;
    }

    &__boxes {
      width: 100%;
      height: 50vh;
      overflow: hidden;
      overflow-y: auto;

      @include breakpoint('large') {
        height: 520px;
      }
    }

    &__box {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-column-gap: 15px;
      border-bottom: 1px solid var(--green);
      padding: 15px 20px 15px 0;

      &__image {
        height: 140px;
        background: url(/images/placeholders/producto01.jpg) center no-repeat;
        background-size: cover;
      }
  
      &__data {
        display: grid;
        grid-template-areas: "title prize" "code code" "ft ft";
        grid-template-columns: 70% 30%;
        grid-auto-rows: minmax(min-content, max-content);

        &__title {
          grid-area: title;
          font-family: 'SangBleu';
          font-size: 14px;
          line-height: 19px;
          color: var(--black);
          text-transform: uppercase;
          padding: 0 0 15px;
        }
  
        &__prize {
          grid-area: prize;
          font-family: 'SangBleu';
          font-size: 14px;
          color: var(--green);
          text-align: right;
        }
  
        &__code {
          grid-area: code;
          font-family: 'Apercu-light';
          font-size: 11px;
          color: var(--black);
        }
  
        &__ft {
          display: flex;
          grid-area: ft;
          padding: 50px 0 0;

          &__quantity {
            display: flex;
    
            input {
              width: 30px;
              border-bottom: 1px solid #000;
              font-family: 'Apercu-light';
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: #000;
              margin-right: 4px;
              height: 25px;
              background: transparent;
    
              &:focus {
                outline: 0 none;
              }
    
              &::placeholder {
                color: #0005;
              }
    
              &:-ms-input-placeholder {
                color: #0005;
              }
    
              &::-ms-input-placeholder {
                color: #0005;
              }
            }
    
            a {
              position: relative;
              top: 4px;
              display: flex;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              border: 1px solid #000;
              justify-content: center;
              align-items: center;
              font-weight: 300;
              font-size: 14px;
              color: #000;
              font-family: 'Apercu-light';
    
              &:nth-child(2) {
                margin-right: 4px;
              }
            }
          }

          &__delete {
            margin-left: auto;

            img {
              width: 18px;
            }
          }
        }
      }
    }

    &__bottom {
      border-top: 1px solid var(--green);
      padding: 20px 0;

      &__total {
        display: flex;
        padding: 0 0 40px;

        &__text {
          font-family: 'SangBleu';
          font-size: 14px;
          color: var(--black);
          text-transform: uppercase;
        }

        &__number {
          display: block;
          margin-left: auto;
          font-family: 'SangBleu';
          font-size: 14px;
          color: var(--green);
        }
      }

      &__btns {
        text-align: center;
        padding: 0 40px;

        &__finish {
          background: var(--white);
          width: 253px;
          height: 38px; 
          border-radius: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 16px;
        }

        &__link {
          margin: 20px 0 0;
          display: inline-block;
          color: #1C8D61;
          text-decoration: underline;
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 17px;
        }
      }
    }
  }
}