.ft {
  padding: 40px 20px;
  background: var(--light-green);

  @include breakpoint('large') {
    display: grid;
    grid-template-areas: "aside top" "bottom bottom";
    grid-template-columns: 40% 60%;

  }

  &__top {
    @include breakpoint('large') {
      grid-area: top;
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    &__map {
      width: 100%;
      height: 290px;
      background: url('/images/placeholders/map.jpg') center center no-repeat;
      background-size: cover;
    }

    &__data {
      padding: 20px 0;
      border-bottom: 1px solid var(--green);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;

      @include breakpoint('large') {
        border-bottom: 0 none;
        display: block;
        padding: 0 120px 0 30px;
      }

      &__dir {
        font-family: 'Apercu-light';
        font-size: 12px;
        line-height: 16px;

        @include breakpoint('large') {
          font-size: 14px;
          line-height: 18px;
        }

        span {
          @include breakpoint('large') {
            display: block;
          }
        }
      }

      &__time {
        font-family: 'Apercu-light';
        font-size: 12px;
        line-height: 16px;

        @include breakpoint('large') {
          font-size: 14px;
          line-height: 18px;
        }
      }

      &__dots {
        display: none;

        @include breakpoint('large') {
          display: flex;
          padding: 15px 0 30px;
        }

        img {
          margin: 0 3px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__aside {
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint('large') {
      position: relative;
      grid-area: aside;
      align-items: flex-start;
      padding: 0 0 0 80px;
    }

    &__title {
      font-family: 'SangBleu';
      font-size: 12px;
      line-height: 45px;
      color: var(--green);
      text-transform: uppercase;

      @include breakpoint('large') {
        font-size: 20px;
      }
    }

    &__link {
      font-family: 'SangBleu';
      font-size: 10px;
      line-height: 45px;
      color: var(--black);
      text-transform: uppercase;

      @include breakpoint('large') {
        line-height: 31px;
      }

      &--mail {
        @include breakpoint('large') {
          margin-top: 30px;
        }
      }
    }

    &__social {
      display: flex;
      align-items: center;
      padding: 30px 0 10px;

      @include breakpoint('large') {
        position: absolute;
        bottom: 0;
        padding: 0;
      }

      &__text {
        position: relative;
        font-family: 'Apercu-light';
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 0 50px;

        @include breakpoint('large') {
          padding: 0 0 0 125px;
          font-size: 14px;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 5px;
          display: block;
          content: '';
          width: 40px;
          height: 1px;
          background: var(--black);

          @include breakpoint('large') {
            width: 110px;
          }
        }
      }

      &__icon {
        padding: 0 0 0 15px;

        @include breakpoint('large') {
          padding: 0 0 0 25px;
        }

        img {
          height: 20px;

          @include breakpoint('large') {
            height: 22px;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 40px 0 0;
    text-align: center;

    @include breakpoint('large') {
      text-align: inherit;
      display: flex;
      padding: 40px 20px 0;
      grid-area: bottom;
    }

    &__legal {
      display: block;
      font-family: 'Apercu-light';
      font-size: 12px;
      color: var(--green);
      padding: 0 0 15px;
    }

    &__terms {
      display: inline-block;
      font-family: 'Apercu-light';
      font-size: 12px;
      color: var(--green);

      @include breakpoint('large') {
        margin-left: auto;
      }
    }
  }
}