.hd {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  @include breakpoint('large') {
    height: 60px;
    padding: 0 40px;
  }

  &__list {
    display: none;

    @include breakpoint('large') {
      display: flex;
    }

    &__item {
      margin: 0 50px 0 0;
      font-family: 'SangBleu';
      font-size: 16px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__hamb {
    display: flex;
    width: 25px;
    height: 25px;

    @include breakpoint('large') {
      display: none;
    }
  }

  &__lg {
    margin: 0 auto;

    @include breakpoint('large') {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__checkout {
    @include breakpoint('large') {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__login {
      display: none;
      font-family: 'SangBleu';
      font-size: 16px;

      @include breakpoint('large') {
        display: block;
        margin-left: 20px;
      }
    }

    &__cart {
      display: block;
      width: 25px;
      height: 25px;

      @include breakpoint('large') {
        margin-left: 20px;
      }
    }

    &__search {
      display: none;
      width: 25px;
      height: 25px;

      @include breakpoint('large') {
        display: block;
        margin-left: 20px;
      }
    }
  }
}