.home {
  &__herospace {
    width: 100%;
    height: 180px;
    background: url('/images/herospace.png') center no-repeat;
    background-size: cover;

    @include breakpoint('large') {
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('/images/herospace-large.png');
    }

    &__icon {
      display: none;
      width: 210px;
      height: 210px;
      background: url('/images/hero-icon.png') center no-repeat;
      background-size: contain;

      @include breakpoint('large') {
        display: block;
      }
    }
  }

  &__products {
    padding: 40px 0 60px;

    @include breakpoint('large') {
      padding: 90px 20px;
    }

    &__title {
      text-align: center;
      font-family: SangBleu;
      font-size: 16px;
      text-transform: uppercase;

      @include breakpoint('large') {
        font-size: 28px;
      }
    }

    &__list {
      position: relative;
      padding: 30px 0 0;

      @include breakpoint('large') {
        padding: 30px 70px 0;
      }

      &__items {
        padding: 0 10px;

        &:focus {
          outline: 0 none;
        }

        &__box {
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--green);
          height: 260px;

          &__title {
            font-family: SangBleu;
            font-size: 14px;
            color: var(--white);
            text-transform: uppercase;

            @include breakpoint('large') {
              font-size: 26px;
            }
          }
        }
      }

      .slick-dots {
        padding: 30px 0 0;
        display: flex!important;
        justify-content: center;

        @include breakpoint('large') {
          padding: 70px 0 0;
        }

        li {
          width: 30px;
          height: 3px;
          background: var(--slick);

          &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

          &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }

          button {
            text-indent: -9999px;
            width: 30px;
            height: 3px;
            border-radius: 2px;

            &:focus {
              outline: 0 none;
            }
          }

          &.slick-active {
            button {
              background: var(--slick-active);
            }
          }
        }
      }

      .slick-arrow {
        position: absolute;
        top: calc(50% - 50px);
        width: 10px;
        height: 25px;
        display: block;
        text-indent: -9999px;

        &.slick-prev {
          left: -40px;
          background: url('/images/arrow-l.png') center no-repeat;
          background-size: contain;
        }

        &.slick-next {
          right: -40px;
          background: url('/images/arrow-r.png') center no-repeat;
          background-size: contain;
        }

        &:focus {
          outline: 0 none;
        }
      }
    }

    &__btn {
      padding: 35px 0 0;
      text-align: center;

      @include breakpoint('large') {
        padding: 50px 0 0;
      }

      &__link {
        display: inline-block;
        padding: 15px 30px 12px;
        background:var(--light-green);
        border-radius: 20px;
        font-family: SangBleu;
        font-size: 12px;
        color: var(--black);
        text-transform: uppercase;

        @include breakpoint('large') {
          font-size: 15px;
        }
      }
    }
  }

  &__about {
    position: relative;
    background: var(--light-green);
    padding: 0 20px;

    @include breakpoint('large') {
      padding: 40px 40px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 70px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 105px;
      background: #fff;

      @include breakpoint('large') {
        height: 100px;
        top: inherit;
        bottom: 0;
      }
    }

    &__image {
      position: relative;
      width: 100%;
      height: 220px;
      background: url('/images/about.jpg') center no-repeat;
      background-size: cover;

      @include breakpoint('large') {
        height: 460px;
      }

      &:before {
        position: absolute;
        bottom: -30px;
        right: 20px;
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background: url('/images/about-title.svg') center no-repeat;
        background-size: contain;

        @include breakpoint('large') {
          display: none;
        }
      }
    }

    &__data {
      padding: 40px 0;

      @include breakpoint('large') {
        padding: 70px 0 0;
      }

      &__title {
        font-family: SangBleu;
        font-size: 16px;
        text-transform: uppercase;

        @include breakpoint('large') {
          display: inline-block;
          position: relative;
          font-size: 26px;
        }

        &:before {
          position: absolute;
          top: -35px;
          right: -50px;
          content: '';
          display: block;
          width: 70px;
          height: 70px;
          background: url('/images/about-title.svg') center no-repeat;
          background-size: contain;
          display: none;

          @include breakpoint('large') {
            display: block;
          }
        }
      }

      &__description {
        padding: 10px 0 0;
        font-family: 'Apercu-light';
        font-size: 13px;
        line-height: 18px;

        @include breakpoint('large') {
          padding: 35px 0 0;
          font-size: 16px;
          line-height: 21px;
          max-width: 420px;
        }
      }

      &__social {
        display: flex;
        align-items: center;
        padding: 30px 0 0;

        @include breakpoint('large') {
          position: relative;
          padding: 80px 0 0;
        }

        &__text {
          position: relative;
          font-family: 'Apercu-light';
          font-size: 12px;
          text-transform: uppercase;
          padding: 0 0 0 50px;

          @include breakpoint('large') {
            padding: 0 0 0 125px;
            font-size: 16px;
          }

          &:before {
            position: absolute;
            top: 50%;
            left: 5px;
            display: block;
            content: '';
            width: 40px;
            height: 1px;
            background: var(--black);

            @include breakpoint('large') {
              width: 110px;
            }
          }
        }

        &__icon {
          padding: 0 0 0 15px;

          @include breakpoint('large') {
            padding: 0 0 0 25px;
          }

          img {
            height: 20px;

            @include breakpoint('large') {
              height: 28px;
            }
          }
        }
      }
    }
  }

  &__buy {
    padding: 40px 20px;

    @include breakpoint('large') {
      padding: 120px 20px;
    }

    @include breakpoint('extra-large') {
      max-width: 1440px;
      margin: 0 auto;
    }

    &__title {
      text-align: center;
      font-family: SangBleu;
      font-size: 16px;
      text-transform: uppercase;

      @include breakpoint('large') {
        font-size: 28px;
      }
    }

    &__list {
      padding: 0 40px;

      @include breakpoint('large') {
        padding: 30px 70px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 60px;
      }

      &__item {
        padding: 30px 0 0;

        &__image {
          width: 75px;
          height: 75px;
          border-radius: 100%;
          margin: 0 auto;

          @include breakpoint('large') {
            width: 140px;
            height: 140px;
          }
        }

        &__description {
          font-family: SangBleu;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          padding: 20px 0 0;

          @include breakpoint('large') {
            font-size: 14px;
            padding: 30px 0 0;
          }
        }
      }
    }
  }

  &__newsletter {
    width: 100%;
    height: 150px;
    background: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint('large') {
      height: 120px;
      flex-direction: row;
    }

    &__description {
      padding: 0 0 15px;
      font-family: 'SangBleu';
      font-size: 12px;
      color: var(--white);
      text-transform: uppercase;

      @include breakpoint('large') {
        padding: 0 30px 0 0;
        font-size: 15px;
      }
    }

    &__input {
      position: relative;
      width: calc(100% - 80px);
      height: 40px;
      background: var(--white);
      border-radius: 20px;
      overflow: hidden;
      padding: 0 10px;

      @include breakpoint('large') {
        width: 400px;
      }
      
      &__text[type="text"] {
        font-family: 'Apercu-light';
        font-size: 15px;
        display: block;
        height: 40px;
        margin: 0;
        width: 100%;
        padding: 0;
        border: 0 none;

        @include breakpoint('large') {
          font-size: 17px;
        }
        
        &:focus {
          outline: 0 none;
        }
      }

      &__btn {
        position: absolute;
        top: 5px;
        right: 10px;
        display: block;
        border-radius: 100%;
        border: 1px solid var(--green);
        width: 30px;
        height: 30px;
        
        img {
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }
    }
  }
}