.product-detail {
  padding: 30px 20px;

  @include breakpoint('large') {
    display: grid;
    grid-template-areas: "path path path" "image data extra";
    grid-template-columns: 1fr 1fr 330px;
    padding: 80px 20px 120px;
  }

  &__path {
    padding: 0 0 30px;
    font-family: 'Apercu-light';
    font-size: 16px;
    color: var(--black);
    text-transform: uppercase;
    grid-area: path;

    @include breakpoint('large') {
      padding: 0 0 30px 80px;
      font-size: 14px;
    }

    span {
      color: var(--green);
    }
  }

  &__image {
    padding: 0 30px 30px;
    grid-area: image;

    @include breakpoint('large') {
      padding: 0 0 0 80px;
    }

    &__wrapper {
      height: 260px;
      background:url('/images/placeholders/producto01.jpg') center no-repeat;
      background-size: cover;

      @include breakpoint('large') {
        height: 400px;
      }
    }
  }

  &__data {
    padding: 0 0 40px;
    display: grid;
    grid-template-areas: "code code" "title prize" "extra extra" "btn btn";
    grid-template-columns: 80% 20%;
    grid-area: data;

    @include breakpoint('large') {
      padding: 0 0 0 45px;
      grid-template-rows: 50px auto auto;
    }

    &__code {
      font-family: 'Apercu-light';
      font-size: 16px;
      color: var(--green);
      grid-area: code;
      padding: 0 0 10px;

      @include breakpoint('large') {
        padding: 0;
        font-size: 17px;
      }
    }

    &__title {
      font-family: 'SangBleu';
      font-size: 20px;
      color: var(--black);
      grid-area: title;

      @include breakpoint('large') {
        font-size: 27px;
        line-height: 38px;
        max-width: 80%;
      }

      span {
        display: block;
      }
    }

    &__prize {
      font-family: 'SangBleu';
      font-size: 20px;
      color: var(--green);
      grid-area: prize;
      text-align: right;

      @include breakpoint('large') {
        padding-right: 130px;
        font-size: 27px;
        padding-top: 6px;
      }
    }

    &__extra {
      padding: 40px 0;
      display: flex;
      grid-area: extra;

      @include breakpoint('large') {
        padding: 0;
        align-items: flex-end;
      }

      &__quantity {
        display: flex;

        input {
          width: 40px;
          border-bottom: 1px solid #000;
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 17px;
          line-height: 21px;
          color: #000;
          margin-right: 6px;
          height: 35px;

          &:focus {
            outline: 0 none;
          }

          &::placeholder {
            color: #0005;
          }

          &:-ms-input-placeholder {
            color: #0005;
          }

          &::-ms-input-placeholder {
            color: #0005;
          }
        }

        a {
          position: relative;
          top: 4px;
          display: flex;
          width: 27px;
          height: 27px;
          border-radius: 100%;
          border: 1px solid #000;
          justify-content: center;
          align-items: center;
          font-weight: 300;
          font-size: 17px;
          color: #000;
          font-family: 'Apercu-light';

          &:nth-child(2) {
            margin-right: 6px;
          }
        }
      }

      select {
        margin-left: auto;
        font-family: 'Apercu-light';
        font-weight: 300;
        font-size: 17px;
        line-height: 21px;
        width: 150px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0 none;
        border-bottom: 1px solid #000;
        background: transparent url('/images/select.png') right 50% no-repeat;
        background-size: 14px;
        border-radius: 0;
        height: 35px;

        @include breakpoint('large') {
          margin-left: 60px;
        }

        &:focus {
          outline: 0 none;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      grid-area: btn;
      padding: 40px 0 0;

      @include breakpoint('large') {
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0;
      }

      &__link {
        font-family: 'Apercu-light';
        font-size: 14px;
        color: var(--black);
        background: var(--light-green);
        text-transform: uppercase;
        padding: 12px 60px;
        border-radius: 30px;
  
        @include breakpoint('large') {
          font-size: 16px;
          height: 40px;
          transition: all .3s ease-in-out;
        }

        &:hover {
          @include breakpoint('large') {
            background: var(--green);
            color: #fff;
          }
        }
      }
    }
  }

  &__extra {
    padding: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    border-top: 1px solid #979797;
    grid-area: extra;

    @include breakpoint('large') {
      display: block;
      border-top: 0 none;
      border-left: 1px solid #979797;
      padding: 0 0 0 30px;
    }

    &__description {
      font-family: 'SangBleu';
      font-size: 14px;
      line-height: 22px;
      color: #0007;

      @include breakpoint('large') {
        padding: 0 0 25px;
        line-height: 17px;
      } 

      span {
        display: block;
      }
    }
  }
}