.resume {
  padding: 30px 20px;

  @include breakpoint('large') {
    padding: 80px 20px 120px;
  }

  &__title {
    font-family: 'SangBleu';
    font-size: 20px;
    color: #000;
    text-transform: uppercase;

    @include breakpoint('large') {
      font-size: 23px;
      padding-left: 80px;
    }
  }

  &__wrapper {
    padding: 20px 0 0;

    @include breakpoint('large') {
      display: grid;
      grid-template-areas: "content sidebar";
      grid-template-columns: 1fr 330px;
      padding: 50px 0 0;
    }

    &__content {
      grid-area: content;

      @include breakpoint('large') {
        padding: 0 180px 0 80px;
      }

      &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #979797;
        padding: 12px 0;

        p {
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #000;
          text-transform: uppercase;

          &:nth-child(2),
          &:nth-child(3) {
            color: #979797;
          }
        }
      }

      &__total {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #979797;
        padding: 25px 0 0;
        margin: 5px 0 0;

        p {
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #1C8D61;
        }
      }
    }

    &__sidebar {
      padding: 40px 0 0;
      grid-area: sidebar;

      @include breakpoint('large') {
        border-left: 1px solid #979797;
        padding: 0 60px 0 30px;
      }

      p {
        font-family: 'Apercu-light';
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: #000;
        padding: 0 40px 0 0;

        @include breakpoint('large') {
          padding: 0;
        }
      }

      &__btns {
        padding: 40px 0 0;

        a {
          display: flex;
          margin: 0 0 20px;
          height: 38px;
          width: 100%;
          background: #C4F1E0;
          border-radius: 19px;
          justify-content: center;
          align-items: center;
          font-family: 'Apercu-light';
          font-weight: 300;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}