@font-face {
  font-family: 'SangBleu';
  src: url("../fonts/SangBleuSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Apercu-light';
  src: url("../fonts/Apercu-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Apercu-bold';
  font-weight: 700;
  src: url("../fonts/Apercu-Bold.otf") format("opentype");
}