@import 'reset';
@import 'mixin';
@import 'fonts';
@import 'vars';
@import 'slick';

@import './components/hd';
@import './components/ft';
@import './components/cart';
@import './views/home';
@import './views/login';
@import './views/register';
@import './views/product';
@import './views/product-category';
@import './views/product-detail';
@import './views/terms';
@import './views/404';
@import './views/success';

html, body {
  scroll-behavior: smooth;
}

.layout {
  padding: 40px 0 0;

  @include breakpoint('large') {
    padding: 60px 0 0;
  }
}